<div class="main">

  <div class="container-fluid">
    <div class="row p-5" >
      <div class="col-sm-3">
  <img src="assets/logo.png" alt="" width="200px" height="200px">
      </div>
      <div class="col-sm-4">
        <h1>Contact</h1>
        <p >bostonrooms@gmail.com</p>
        <p>+91 9352765814</p>
  
      </div>
      <div class="col-sm-5">
        <h1>Social Media</h1>
        <a><i class="fa-brands fa-instagram fa-2x"></i></a>
        <a><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a><i class="fa-brands fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div>
  
</div>
