<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Amenties
      </h1>
      <p class="text-center">
        Needs that we provide here are:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa-sharp fa fa-house fa-3x"></i>
      </div>
      <p class="text-center">shop</p>
    </div>
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa fa-dumbbell fa-3x"></i>
      </div>
      <p class="text-center">gym</p>



      
    </div>
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
         
          <i class="fa-solid fa-gamepad fa-3x"></i>
      </div>
      <p class="text-center">game</p>
       
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa-brands fa-servicestack fa-3x"></i>
      </div>
      <p class="text-center">full services laundry</p>
    </div>
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa-solid fa-wifi fa-3x"></i>
      </div>
      <p class="text-center">superfast wifi</p>
    </div>
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa fa-truck fa-3x"></i>
      </div>
      <p class="text-center">food truck</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa-solid fa-broom fa-3x"></i>
      </div>
      <p class="text-center">room cleaning</p>
    </div>
   
    <div class="col-sm-4 p-5">
      <div class="d-flex justify-content-center">
        <i class="fa fa-basketball fa-3x"></i>
      </div>
      <p class="text-center">basket ball</p>
    </div>
  </div>


</div>


<app-footer></app-footer>
