<div class="container-fluid">
  <div class="row main1">
    <div class="col-sm-6">
      
      <h1 class="h11">We believe that community is our natural habitat.</h1>
      <p class="dis">With thoughtfully designed spaces, we are all about fostering a feeling of community through new ideas and new experiences. There are no strangers here, only friends who haven’t met.</p>
      <div class="but12">
        <button>Join The Community</button><button class="but1">Stay for a Night</button>
      </div>
     
    </div>
    <div class="col-sm-6">
    <img class="img12 m-5" src="https://i.gifer.com/trY.gif">
  </div>

    
     



  </div>
</div>

<app-footer></app-footer>